/* .data_location{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate(115%, 20%);
    gap: 175px;
    border-bottom: 2px solid #0000006f;
    border-top: 2px solid #eeeeee6f;
    border-radius: 100px;
    position: absolute;
    text-align: right;
    background: rgba(255, 255, 255, 0.15);
    flex-wrap: wrap;
    padding: 30px;
    position: absolute;    
    box-shadow:0 8px 25px rgba(0, 0, 0, 0.08),
    inset 0 1px 1px rgba(255, 255, 255, 0.2);

/* } */
.data_location h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000b5;
    padding-bottom: 1rem;
}
.data_location p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #0000006f;
}
/* @media (max-width: 768px) { 
    .data_location {
        width: 90%;
        right: 50%;
        border-radius: 10px;
        bottom: 1rem;
        transform: translate(50% , 110%);
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        padding: 1rem;
    }
    .data_location h2 {
        font-size: 2rem;
        padding: .5rem 0;
    }
    .data_location p {
        padding: .5rem 0;
        font-size: 1.7rem;
    }
} */
.data_location {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 2rem 0;
    margin: 3rem 0;
    width: 60%;
    background: rgba(255, 255, 255, 0.15);
    border-top: 2px solid rgb(252, 248, 248);
    border-bottom: 2px solid rgba(0, 0, 0, 0.938);
    border-radius: 100px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08),
                inset 0 1px 1px rgba(255, 255, 255, 0.2);
    
    text-align: right;
}
@media (max-width: 768px) {
    .data_location {
        width: 90%;
        left: 50%;
        top: auto;
        bottom: 1rem;
        transform: translateX(-50%);
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        padding: 1.5rem;
        border-radius: 16px;
    }
    .data_location h2 {
        font-size: 1.3rem; 
        padding: 0.25rem 0;
    }
    
    .data_location p {
        font-size: 1.1rem;
        padding: 0.25rem 0;
    }
}